<template>
  <router-view />
</template>

<script>
  import { defineComponent } from 'vue';

  const axios = require('axios');

  export default defineComponent({
    name: 'Chime Plumbing',
    components: {},
    data() {
      return {
      };
    },
    methods: {
    },
    async created() {
    }
  });
</script>

<style lang="scss">
  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    padding: 60px;
  }
</style>
