<template>
  <div id="appointment">
    <video id="appointment-video" />
    <audio id="appointment-audio" />
  </div>
</template>
<script lang="ts">
  import { defineComponent } from "vue";
  import axios from "axios";

  import {
    ConsoleLogger,
    DefaultDeviceController,
    DefaultMeetingSession,
    LogLevel,
    MeetingSessionConfiguration
  } from 'amazon-chime-sdk-js';

  export default defineComponent({
    components: {},
    props: {
      meetingId: {
        type: String,
        default: null
      },
      joinToken: {
        type: String,
        default: null
      }
    },
    data() {
      return {
        attendee: this.attendee,
        meeting: {},
        meetingSession: {} as DefaultMeetingSession,
      }
    },
    computed: {},
    mounted() {
      this.joinMeeting();
    },
    created() {
    },
    methods: {
      async getAppointment() {
        await axios.get(`${process.env.VUE_APP_SERVER_BASE_URL}/appointment`,
          {
            params: {
              op: "ByMeetingId",
              meetingId: this.meetingId,
            }
          })
          .then(result => {
            console.log("retrieved appointment: ", result.data);
            this.meeting = result.data;
          })
          .catch((error) => {
            console.log("attendee error: ", error);
          });
      },
      async retrieveAttendee() {
        console.log("retrieving Attendee");
        await axios.post(`${process.env.VUE_APP_SERVER_BASE_URL}/attendee`,
          {},
          {
            params: {
              op: "RequestNew",
              meetingId: this.meetingId,
            }
          })
          .then(result => {
            console.log("retrieved attendee: ", result.data);
            this.attendee = result.data;
          })
          .catch((error) => {
            console.log("attendee error: ", error);
          });
      },
      async initSession() {
        const logger = new ConsoleLogger('ChimeMeetingLogs', LogLevel.INFO);
        const deviceController = new DefaultDeviceController(logger);

        const configuration = new MeetingSessionConfiguration(this.meeting, this.attendee);
        this.meetingSession = new DefaultMeetingSession(configuration, logger, deviceController);

        // VIDEO
        const videoElement = document.getElementById('appointment-video') as HTMLVideoElement;
        const videoInputs = await this.meetingSession.audioVideo.listVideoInputDevices();
        console.log("videoInputs");
        console.log(videoInputs);
        await this.meetingSession.audioVideo.chooseVideoInputDevice(videoInputs[0].deviceId);

        const videoObserver = {
          // videoTileDidUpdate is called whenever a new tile is created or tileState changes.
          videoTileDidUpdate: (tileState: any) => {
            // Ignore a tile without attendee ID and other attendee's tile.
            if (!tileState.boundAttendeeId || !tileState.localTile) {
              return;
            }

            this.meetingSession.audioVideo.bindVideoElement(tileState.tileId, videoElement);
          },
        };
        this.meetingSession.audioVideo.startLocalVideoTile();

        // AUDIO
        try {
          const audioInputs = await this.meetingSession.audioVideo.listAudioInputDevices();
          console.log("audioInputs");
          console.log(audioInputs);
          const audioInputDevice = audioInputs.length > 0 ? audioInputs[0].deviceId : null;
          await this.meetingSession.audioVideo.chooseAudioInputDevice(audioInputDevice);
        } catch (err) {
          console.log("unable to retrieve audio devices");
          // handle error - unable to acquire audio device perhaps due to permissions blocking
        }

        const audioOutputElement = document.getElementById("appointment-audio") as HTMLAudioElement;
        console.log(audioOutputElement);
        await this.meetingSession.audioVideo.bindAudioElement(audioOutputElement);

        const observer = {
          audioVideoDidStart: () => {
            console.log('Started');
          }
        };
        this.meetingSession.audioVideo.addObserver(videoObserver);
        this.meetingSession.audioVideo.addObserver(observer);

        // const attendeePresenceSet = new Set();
        // const callback = (presentAttendeeId: string, present: boolean) => {
        //   console.log(`Attendee ID: ${presentAttendeeId} Present: ${present}`);
        //   if (present) {
        //     attendeePresenceSet.add(presentAttendeeId);
        //   } else {
        //     attendeePresenceSet.delete(presentAttendeeId);
        //   }
        // };
        //
        // this.meetingSession.audioVideo.realtimeSubscribeToAttendeeIdPresence(callback);

        this.meetingSession.audioVideo.start();
      },
      async joinMeeting() {
        await this.retrieveAttendee();
        await this.getAppointment();
        console.log(this.meeting);
        console.log(this.attendee);

        this.initSession();
      }
    },
  });
</script>

<style lang="scss" scoped>

  #appointment {
    margin: 10px auto;
    max-width: 90vw;

  }

  ::v-deep(.clickable) {
    cursor: pointer;
  }

</style>
