<template>
  <div id="homepage">
    <a-button type="primary" @click="createMeeting()">
      <PlusOutlined/>
      Create Appointment
    </a-button>
    <a-table :columns="apptColumns"
             :data-source="appointments"
             :rowClassName="() => 'clickable'"
             :rowKey="record => record.MeetingId"
             :customRow="customRowProps">
    </a-table>

    <audio id="meeting-audio" style="display: none"></audio>
    <video id="meeting-video"></video>
  </div>
</template>

<script>
  import { defineComponent } from 'vue';
  import { PlusOutlined } from "@ant-design/icons-vue";

  const axios = require('axios');
  import {
    ConsoleLogger,
    DefaultDeviceController,
    DefaultMeetingSession,
    LogLevel,
    MeetingSessionConfiguration
  } from 'amazon-chime-sdk-js';

  const apptColumns = [
    {
      title: "Appointment Id",
      key: "MeetingId",
      dataIndex: "MeetingId",
    },
    {
      title: "Media Region",
      key: "MediaRegion",
      dataIndex: "MediaRegion",
    },
  ]

  export default defineComponent({
    components: { PlusOutlined },
    data() {
      return {
        apptColumns: apptColumns,
        appointments: [],
        attendee: null,
        meetingSession: null,
      };
    },
    methods: {
      async getAppointments() {
        await axios.get(`${process.env.VUE_APP_SERVER_BASE_URL}/appointment`,
          {
            params: {
              op: "All",
            }
          })
          .then(result => {
            this.appointments = result.data;
          })
          .catch((error) => {
            console.log(error);
          });
      },
      async createMeeting() {
        await axios.post(`${process.env.VUE_APP_SERVER_BASE_URL}/appointment`,
          {}, // formbody
          {
            params: {
              op: "Create",
            }
          })
          .then(() => {
            this.getAppointments();
          })
          .catch((error) => {
            console.log(error);
          });
      },
      async retrieveAttendee() {
        this.attendee = await axios.get(`${process.env.VUE_APP_SERVER_BASE_URL}/attendee/new`)
          .then(result => {
            console.log("retrieved attended: ", result.data);
            return result.data;
          })
          .catch((error) => {
            console.log("attendee error: ", error);
          });
      },
      async joinMeeting(meeting, attendee, isVideo) {
        const logger = new ConsoleLogger('ChimeMeetingLogs', LogLevel.INFO);
        const deviceController = new DefaultDeviceController(logger);

        const configuration = new MeetingSessionConfiguration(meeting, attendee);
        this.meetingSession = new DefaultMeetingSession(configuration, logger, deviceController);

        if (isVideo) {
          const videoElement = document.getElementById('meeting-video');
          const videoInputs = await this.meetingSession.audioVideo.listVideoInputDevices();
          await this.meetingSession.audioVideo.chooseVideoInputDevice(videoInputs[0].deviceId);

          const observer = {
            // videoTileDidUpdate is called whenever a new tile is created or tileState changes.
            videoTileDidUpdate: tileState => {
              // Ignore a tile without attendee ID and other attendee's tile.
              if (!tileState.boundAttendeeId || !tileState.localTile) {
                return;
              }

              this.meetingSession.audioVideo.bindVideoElement(tileState.tileId, videoElement);
            }
          };

          this.meetingSession.audioVideo.addObserver(observer);
          this.meetingSession.audioVideo.startLocalVideoTile();
        } else {
          try {
            const audioInputs = await this.meetingSession.audioVideo.listAudioInputDevices();
            console.log(audioInputs);
            await this.meetingSession.audioVideo.chooseAudioInputDevice(audioInputs[0].deviceId);
          } catch (err) {
            console.log("unable to retrieve audio devices");
            // handle error - unable to acquire audio device perhaps due to permissions blocking
          }

          const audioOutputElement = document.getElementById("meeting-audio");
          console.log(audioOutputElement);
          await this.meetingSession.audioVideo.bindAudioElement(audioOutputElement);

          // const observer = {
          //   audioVideoDidStart: () => {
          //     console.log('Started');
          //   }
          // };
          //
          // this.meetingSession.audioVideo.addObserver(observer);

        }
        const attendeePresenceSet = new Set();
        const callback = (presentAttendeeId, present) => {
          console.log(`Attendee ID: ${presentAttendeeId} Present: ${present}`);
          if (present) {
            attendeePresenceSet.add(presentAttendeeId);
          } else {
            attendeePresenceSet.delete(presentAttendeeId);
          }
        };

        this.meetingSession.audioVideo.realtimeSubscribeToAttendeeIdPresence(callback);

        this.meetingSession.audioVideo.start();
      },

      customRowProps(record, index) {
        return {
          onclick: (event) => {
            console.log("passing: ", record);
            this.$router.push({
              name: 'appointment',
              params: {
                meetingId: record.MeetingId,
                // joinToken: record
              }
            })
            ;
          }
        }
      },
    },
    async created() {
      await this.getAppointments();
    }
  });
</script>

<style lang="scss" scoped>

  #homepage {
    text-align: left;

    button {
      margin: 10px;
    }
  }

  ::v-deep(.clickable) {
    cursor: pointer;
  }
</style>
